In [1]:
import pandas as pd

In [ ]:
# Se for dentro de um documento ou URL:
#df = pd.read_json('data.json' ou 'http://....blablabla')

# Se for uma variavel:
#df = pd.DataFrame(data)

In [3]:
 df = pd.read_json('https://bitpay.com/api/rates') #R$ na linha 34

In [4]:
df.head()

  code            name      rate
0  BTC         Bitcoin      1.00
1  BCH    Bitcoin Cash     94.62
2  USD       US Dollar  58804.88
3  EUR   Eurozone Euro  52460.46
4  GBP  Pound Sterling  44153.65

In [ ]:
df

    code                name         rate
0    BTC             Bitcoin         1.00
1    BCH        Bitcoin Cash        94.60
2    USD           US Dollar     58791.69
3    EUR       Eurozone Euro     52407.37
4    GBP      Pound Sterling     44128.98
..   ...                 ...          ...
165  XOF     CFA Franc BCEAO  34412176.72
166  YER         Yemeni Rial  14712616.58
167  ZAR  South African Rand    937620.56
168  ZMW      Zambian Kwacha   1042999.73
169  ZWL   Zimbabwean Dollar  18930924.00

[170 rows x 3 columns]

In [ ]:
df2 = pd.read_json('https://bitpay.com/api/rates')
df2

    code                name         rate
0    BTC             Bitcoin         1.00
1    BCH        Bitcoin Cash        94.58
2    USD           US Dollar     58809.18
3    EUR       Eurozone Euro     52455.61
4    GBP      Pound Sterling     44142.11
..   ...                 ...          ...
165  XOF     CFA Franc BCEAO  34422414.77
166  YER         Yemeni Rial  14716993.77
167  ZAR  South African Rand    937899.52
168  ZMW      Zambian Kwacha   1043310.03
169  ZWL   Zimbabwean Dollar  18936556.19

[170 rows x 3 columns]

In [ ]:
df3 = pd.read_json('https://bitpay.com/api/rates')
df3

    code                name         rate
0    BTC             Bitcoin         1.00
1    BCH        Bitcoin Cash        94.67
2    USD           US Dollar     58800.83
3    EUR       Eurozone Euro     52445.57
4    GBP      Pound Sterling     44135.85
..   ...                 ...          ...
165  XOF     CFA Franc BCEAO  34417529.76
166  YER         Yemeni Rial  14714905.22
167  ZAR  South African Rand    937766.42
168  ZMW      Zambian Kwacha   1043161.97
169  ZWL   Zimbabwean Dollar  18933868.83

[170 rows x 3 columns]

In [ ]:
import time
import matplotlib.pyplot as plt
for i in range(10): #10 coletas
   time.sleep(5) #5 seg
   tempo_atual = time.ctime()
   df = pd.read_json('https://bitpay.com/api/rates')
   print(tempo_atual, 'Valor in USD: ',df.iloc[2,2])

Thu Nov 25 22:19:53 2021 Valor in USD:  58632.12
Thu Nov 25 22:19:58 2021 Valor in USD:  58632.12
Thu Nov 25 22:20:03 2021 Valor in USD:  58632.12
Thu Nov 25 22:20:08 2021 Valor in USD:  58632.12
Thu Nov 25 22:20:13 2021 Valor in USD:  58635.95
Thu Nov 25 22:20:18 2021 Valor in USD:  58635.95
Thu Nov 25 22:20:24 2021 Valor in USD:  58635.95
Thu Nov 25 22:20:29 2021 Valor in USD:  58635.95
Thu Nov 25 22:20:34 2021 Valor in USD:  58635.95
Thu Nov 25 22:20:39 2021 Valor in USD:  58635.95

ATIVIDADE:
Fazer a media a cada 30 min dos valores do BTC em USD coletados a cada minuto.
NOTA: Esta atividade precisa de tempo e paciencia!

In [ ]:
import time
import matplotlib.pyplot as plt
import pandas as pd
soma=0
total=0
for i in range(30): 
    time.sleep(60)
    tempo_atual = time.ctime()
    df = pd.read_json('https://bitpay.com/api/rates')
    valor = df.iloc[2,2]
    soma = soma+valor
    total = total+1
    print(tempo_atual, 'Valor in USD: ',valor)
media = soma/total
print('\nA média do Valor BTC dos ultimos 30 min é:', media, '\n')