***Estruturas de repetição***

**Loops(Laços)**

Usado em situações em que é necessário repetir um determinado trecho de um programa, um determinado número de vezes.

Duas formas:
- Escrever o trecho quantas vezes for necessário, ou
- Utilizar o conceito de Laços.

In [ ]:
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')
print('Oi')

Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi

**ESTRUTURA DO *FOR IN N* em PYTHON**


FOR Pode ser usado para iterar sequencias como list, string, tuple, set, array, data frame.

Para iterar uma serie de itens o FOR usa a função RANGE que devolve uma lista numerada de uma sequencia.

Os FOR in Python são zero-indexed.

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10): #'i' variavel de apoio (index)
    print ('Oi tudo bem?')
    print ('i='+str(i)+ ' Oi tudo bem?')
    print('Semana 7')
print('Termino') #fora do alinhamento do for vai pro fim

Oi tudo bem?
i=0 Oi tudo bem?
Semana 7
Oi tudo bem?
i=1 Oi tudo bem?
Semana 7
Oi tudo bem?
i=2 Oi tudo bem?
Semana 7
Oi tudo bem?
i=3 Oi tudo bem?
Semana 7
Oi tudo bem?
i=4 Oi tudo bem?
Semana 7
Oi tudo bem?
i=5 Oi tudo bem?
Semana 7
Oi tudo bem?
i=6 Oi tudo bem?
Semana 7
Oi tudo bem?
i=7 Oi tudo bem?
Semana 7
Oi tudo bem?
i=8 Oi tudo bem?
Semana 7
Oi tudo bem?
i=9 Oi tudo bem?
Semana 7
Termino

In [ ]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
sequence = [1,2,8,100,200,'caipira','caiçãra']
#criar sequencia e imprimir oq ta na lista pela posição i

for i in sequence:
    print (i)

1
2
8
100
200
caipira
caiçãra



**Lembre-se: RANGE sempre deve usar numeros inteiros.**

In [ ]:
len(sequence) #tamanho da estrutura 'sequence'

7

In [ ]:
for i in range(7):
    print (sequence[i]) #pode pedir a posição exata (sequence[3])

1
2
8
100
200
caipira
caiçãra

In [ ]:
# RANGE(Incio, Fim, Passo)
for i in range(1,20,3):
    print (i)

1
4
7
10
13
16
19

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **APPLICAÇÃO**

In [40]:
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [69]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Bitstamp_BTCUSD_d.csv')
df.head()

   Unix Timestamp        Date  Symbol  ...     Close  Volume BTC    Volume USD
0    1.603930e+09  2020-10-29  BTCUSD  ...  13276.23     1402.78  1.861382e+07
1    1.603843e+09  2020-10-28  BTCUSD  ...  13274.73    10670.86  1.426913e+08
2    1.603757e+09  2020-10-27  BTCUSD  ...  13647.90    11242.75  1.511716e+08
3    1.603670e+09  2020-10-26  BTCUSD  ...  13066.73     5725.20  7.478865e+07
4    1.603584e+09  2020-10-25  BTCUSD  ...  13039.09     3658.60  4.784537e+07

[5 rows x 9 columns]

In [70]:
len(df)

2151

In [ ]:
print('Filtra dias com volume acima de 40000 BTC\n')
for i in range(len(df)): #range do tamanho do dataframe
    VolumeBTC = df.iloc[i,7] #[linha,coluna]
    if VolumeBTC >= 40000.0:
        print ('Data:',df.iloc[i,1],'Volume:',VolumeBTC)

**ATIVIDADE**

Somar os valores de Close a cada 7 dias e imprimir o total.

In [71]:
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [72]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Bitstamp_BTCUSD_d.csv')
df.head()

   Unix Timestamp        Date  Symbol  ...     Close  Volume BTC    Volume USD
0    1.603930e+09  2020-10-29  BTCUSD  ...  13276.23     1402.78  1.861382e+07
1    1.603843e+09  2020-10-28  BTCUSD  ...  13274.73    10670.86  1.426913e+08
2    1.603757e+09  2020-10-27  BTCUSD  ...  13647.90    11242.75  1.511716e+08
3    1.603670e+09  2020-10-26  BTCUSD  ...  13066.73     5725.20  7.478865e+07
4    1.603584e+09  2020-10-25  BTCUSD  ...  13039.09     3658.60  4.784537e+07

[5 rows x 9 columns]

In [74]:
len(df)

2151

In [173]:
print('Soma dos valores de Close a cada 7 dias:\n')
for i in range(0,2151,7):
    Close = df.iloc[i,6]
sum(df.iloc[range(0,len(df),7),6])
    #print ('Data:',Data,'Valor Close:',Close)

Soma dos valores de Close a cada 7 dias:

1436383.4699999993